{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        
    </head>
    <body>
       
       
            <header >
                <div class="container">
                    <div class="main-header clearfix">
                        <div class="logo-wrapper">
                            <img class="idBarraimg" src="{% static 'img/logoCyT.png' %}" alt="">
                        </div>
                        <div class="date">
                            <div class="local-date"></div>
                            <div class="abc-este-wrapper">
                                <a href="/este" class="abc-este-link" title="Ir a ABC en el Este">Ir a ABC en el Este</a>
                            </div>
                        </div>
                        <div class="header-right">
                            <div class="now-on-air">
                                <div class="on-air-slider">
                                    <div class="slide">
                                        <div class="tv-icon"></div>
                                        <div class="program-name">
                                            <span>Polideportivo</span>
                                        </div>
                                        <div class="media-name">
                                            ABC TV <span class="program-time">de 11:00:00 a 11:29:00</span>
                                        </div>
                                        <a href="/tv" class="slide-link" title="Ver ABC TV">Ver ABC TV</a>
                                    </div>
                                    <div class="slide">
                                        <div class="radio-icon am"></div>
                                        <div class="program-name">
                                            <span>A La Gran 7-30</span>
                                        </div>
                                        <div class="media-name">
                                            ABC Cardinal AM <span class="program-time">de 08:00 a 11:30</span>
                                        </div>
                                        <a href="/730am" class="slide-link" title="Escuchar ABC AM">Escuchar ABC AM</a>
                                    </div>
                                    <div class="slide">
                                        <div class="radio-icon fm"></div>
                                        <div class="program-name">
                                            <span>Sin vergüenza</span>
                                        </div>
                                        <div class="media-name">
                                            ABC FM <span class="program-time">11:00 a 14:00</span>
                                        </div>
                                        <a href="/fm" class="slide-link" title="Escuchar ABC FM">Escuchar ABC FM</a>
                                    </div>
                                </div>
                            </div>
                            <div class="now-weather">
                                <div class="weather-mini-slider">
                                    <div class="slide">
                                        <div class="sponsor-slider">
                                            <div id="fusion-static-enter:undefined" style="display:none"></div>
                                            <div>
                                                <script>
                                                    var detector = new MobileDetect(window.navigator.userAgent)
                                                    if (detector.os() == null) {
                                                        window.googletag = window.googletag || {
                                                            cmd: []
                                                        };
                                                        googletag.cmd.push(function() {
                                                            googletag.defineSlot('/54577773/abc_menu/clima_menu', [100, 35], 'div-gpt-ad-1563311121340-0').addService(googletag.pubads());

                                                            googletag.enableServices();
                                                        });
                                                    }
                                                </script>
                                                <div id="div-gpt-ad-1563311121340-0" style="width:100px; height:35px;">
                                                    <script>
                                                        setTimeout(function() {
                                                            var detector = new MobileDetect(window.navigator.userAgent)

                                                            if (detector.os() == null) {
                                                                googletag.cmd.push(function() {
                                                                    googletag.display('div-gpt-ad-1563311121340-0')
                                                                });
                                                            }
                                                        }, 1000);
                                                    </script>
                                                </div>
                                            </div>
                                            <div id="fusion-static-exit:undefined" style="display:none"></div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="weather-icon despejado"></div>
                                        <div class="degree-amount">20º</div>
                                        <div class="status">Ahora</div>
                                        <a href="javascript:void(0);" class="slide-link link-weather-extended" title="ver más">ver más</a>
                                    </div>
                                    <div class="slide">
                                        <div class="weather-icon precipitaciones-ocnl"></div>
                                        <div class="degree-amount">17º</div>
                                        <div class="status">Mañana</div>
                                        <a href="javascript:void(0);" class="slide-link link-weather-extended" title="ver más">ver más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="now-currency">
                                <div class="currency-mini-slider">
                                    <div class="slide">
                                        <div class="sponsor-slider">
                                            <div id="fusion-static-enter:undefined" style="display:none"></div>
                                            <div>
                                                <script>
                                                    var detector = new MobileDetect(window.navigator.userAgent)
                                                    if (detector.os() == null) {
                                                        window.googletag = window.googletag || {
                                                            cmd: []
                                                        };
                                                        googletag.cmd.push(function() {
                                                            googletag.defineSlot('/54577773/abc_menu/cotizacion_menu', [100, 35], 'div-gpt-ad-1563317248167-0').addService(googletag.pubads());

                                                            googletag.enableServices();
                                                        });
                                                    }
                                                </script>
                                                <div id="div-gpt-ad-1563317248167-0" style="width:100px; height:35px;">
                                                    <script>
                                                        setTimeout(function() {
                                                            var detector = new MobileDetect(window.navigator.userAgent)

                                                            if (detector.os() == null) {
                                                                googletag.cmd.push(function() {
                                                                    googletag.display('div-gpt-ad-1563317248167-0')
                                                                });
                                                            }
                                                        }, 1000);
                                                    </script>
                                                </div>
                                            </div>
                                            <div id="fusion-static-exit:undefined" style="display:none"></div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="currency-icon"></div>
                                        <div class="amount-exchange">G. 6.440</div>
                                        <div class="currency-name">Dólar Compra</div>
                                        <a href="javascript:void(0);" class="slide-link link-currency-extended" title="ver más">ver más</a>
                                    </div>
                                    <div class="slide">
                                        <div class="currency-icon"></div>
                                        <div class="amount-exchange">G. 6.710</div>
                                        <div class="currency-name">Dólar Venta</div>
                                        <a href="javascript:void(0);" class="slide-link link-currency-extended" title="ver más">ver más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="social-links header">
                                <a href="https://www.facebook.com/ABCDigital/" target="_blank" class="social-link fb" title="Seguinos en Facebook">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="https://twitter.com/ABCDigital" target="_blank" class="social-link tw" title="Seguinos en Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="https://www.youtube.com/user/canalabctv" target="_blank" class="social-link yt" title="Seguinos en YouTube">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                                <a href="https://www.instagram.com/abcdigital" target="_blank" class="social-link ig" title="Seguinos en Instagram">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </div>
                            <div class="menu-trigger">
                                <a href="javascript:void(0);" data-target="megamenu" class="menu-trigger-btn">Menú</a>
                            </div>
                            <div class="search-trigger">
                                <a href="javascript:void(0);" class="search-trigger-btn link-search-trigger">Buscar</a>
                            </div>
                            <div class="header-widgets-trigger">
                                <a href="javascript:void(0);" class="header-widgets-trigger-btn link-header-widgets-trigger">Clima y Cotizaciones</a>
                            </div>
                        </div>
                    </div>
<div class="menu-extended-wrapper">
                        <div class="menu-extended">
                            <nav class="main-menu">
                                <div class="main-menu-wrapper">
                                    <ul>
                                        <li>
                                            <a href="/">
                                                <span>Noticias</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/edicion-impresa" target="">
                                                <span>Edición Impresa</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/nacionales" target="">
                                                <span>Nacionales</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/deportes" target="">
                                                <span>Deportes</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/espectaculos" target="">
                                                <span>Espectáculos</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/internacionales" target="">
                                                <span>Mundo</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/730am" target="">
                                                <span>ABC Cardinal 730 AM</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/fm" target="">
                                                <span>ABC FM 98.5</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/tv" target="">
                                                <span>ABC TV</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://abcmarket.com.py/" target="_blank">
                                                <span>ABC Market</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="search-trigger">
                                    <a href="javascript:void(0);" class="search-trigger-btn link-search-trigger">Buscar</a>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="megamenu">
                        <div class="container">
                            <div class="heading-megamenu">
                                <div class="search-form">
                                    <form id="query-search-form">
                                        <input type="text" id="search-input" class="search-input" placeholder="Buscar en ABC" name="q" value=""/>
                                        <button type="submit" value="Buscar" class="search-btn"></button>
                                    </form>
                                </div>
                            </div>
                            <div class="content-megamenu clearfix">
                                <div class="col-menu">
                                    <div class="menu-extended-wrapper">
                                        <div class="menu-extended">
                                            <ul>
                                                <li class="">
                                                    <a target="" href="/nacionales">Nacionales</a>
                                                </li>
                                                <li class="has-sub">
                                                    <a target="" href="#!">Edición Impresa</a>
                                                    <ul class="has-scroll">
                                                        <a href="/edicion-impresa" target="">
                                                            <span>Portada</span>
                                                        </a>
                                                        <li class="subtitle">
                                                            <span>Secciones</span>
                                                        </li>
                                                        <li>
                                                            <a href="/edicion-impresa/editorial" target="">
                                                                <span>Editorial</span>
                                                            </a>
                                                        </li>
                                                        
                                                        <li>
                                                            <a href="/edicion-impresa/judiciales-y-policiales" target="">
                                                                <span>Judiciales y Policiales</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/edicion-impresa/ciudadano-digital" target="">
                                                                <span>Ciudadano digital</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/edicion-impresa/artes-espectaculos" target="">
                                                                <span>Artes y Espectáculos</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/edicion-impresa/sociales" target="">
                                                                <span>Sociales</span>
                                                            </a>
                                                        </li>
                                                        
                                                        <li>
                                                            <a href="/edicion-impresa/ciencia-y-tecnologia" target="">
                                                                <span>Ciencia y Tecnología</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/edicion-impresa/suplementos" target="">
                                                                <span>Suplementos</span>
                                                            </a>
                                                        </li>
                                                        <li class="subtitle">
                                                            <span>Suplementos</span>
                                                        </li>
                                                        
                                                       
                                                        <li>
                                                            <a href="/edicion-impresa/suplementos/humor" target="">
                                                                <span>Humor</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/edicion-impresa/suplementos/motor" target="">
                                                                <span>Motor</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/edicion-impresa/suplementos/cultural" target="">
                                                                <span>Cultural</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="">
                                                    <a target="" href="/este">ABC en el Este</a>
                                                </li>
                                                <li class="">
                                                    <a target="" href="/internacionales">Mundo</a>
                                                </li>
                                                <li class="has-sub">
                                                    <a target="" href="#!">Deportes</a>
                                                    <ul class="has-scroll">
                                                        <a href="/deportes" target="">
                                                            <span>Portada</span>
                                                        </a>
                                                        <li class="subtitle">
                                                            <span>Secciones</span>
                                                        </li>
                                                       
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a target="" href="#!">Espectáculos</a>
                                                    <ul class="has-scroll">
                                                        <a href="/espectaculos" target="">
                                                            <span>Portada</span>
                                                        </a>
                                                        <li class="subtitle">
                                                            <span>Secciones</span>
                                                        </li>
                                                        <li>
                                                            <a href="/espectaculos/musica" target="">
                                                                <span>Música</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/espectaculos/gente" target="">
                                                                <span>Gente</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/espectaculos/resenas" target="">
                                                                <span>Reseñas</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/espectaculos/cine-y-tv" target="">
                                                                <span>Cine y TV</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/espectaculos/literatura" target="">
                                                                <span>Literatura</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/espectaculos/artes-plasticas" target="">
                                                                <span>Artes Plásticas</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/espectaculos/cultura" target="">
                                                                <span>Cultura</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a target="" href="#!">Servicios</a>
                                                    <ul class="has-scroll">
                                                        <li class="subtitle">
                                                            <span>Secciones</span>
                                                        </li>
                                                        <li>
                                                            <a href="https://i5.abc.com.py/pub/fune_dia2.asp" target="">
                                                                <span>Fúnebres</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="https://i5.abc.com.py/index.html" target="">
                                                                <span>Anunciar un clasificado</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="https://mkt.abc.com.py/" target="">
                                                                <span>Cómo anunciar</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="https://mkt.abc.com.py/ejecutivo/" target="">
                                                                <span>ABC Ejecutivo</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="http://clasificados.abc.com.py/delivery/v2/" target="">
                                                                <span>Guía Delivery</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a target="" href="#!">Comercial</a>
                                                    <ul class="has-scroll">
                                                        <li class="subtitle">
                                                            <span>Secciones</span>
                                                        </li>
                                                        <li>
                                                            <a href="/empresariales" target="">
                                                                <span>Empresariales</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/brandlab" target="">
                                                                <span>Brand Lab</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.abc.com.py/edicion-impresa/suplementos/comercial" target="">
                                                                <span>Suplementos</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/fotogaleria" target="">
                                                                <span>Fotogalería</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a target="" href="#!">Más</a>
                                                    <ul class="has-scroll">
                                                        <li class="subtitle">
                                                            <span>Secciones</span>
                                                        </li>
                                                        <li>
                                                            <a href="/especiales/fin-de-semana" target="">
                                                                <span>Notas</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/periodismo-joven" target="">
                                                                <span>Periodismo Joven</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.abc.com.py/anete-piko/" target="">
                                                                <span>Añete piko</span>
                                                            </a>
                                                        </li>
                                                        <li class="subtitle">
                                                            <span>Añete piko</span>
                                                        </li>
                                                        <li>
                                                            <a href="/especiales/remiandu" target="">
                                                                <span>ABC Remiandu</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="">
                                                    <a target="" href="/730am">ABC Cardinal 730 AM</a>
                                                </li>
                                                <li class="">
                                                    <a target="" href="/fm">ABC FM 98.5</a>
                                                </li>
                                                <li class="">
                                                    <a target="" href="/tv">ABC TV</a>
                                                </li>
                                                <li class="has-sub">
                                                    <a target="" href="#!">Podcasts</a>
                                                    <ul class="has-scroll">
                                                        <li class="subtitle">
                                                            <span>Secciones</span>
                                                        </li>
                                                        <li>
                                                            <a href="/podcast-abc" target="">
                                                                <span>Podcast ABC</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/especiales/ecos-del-pasado" target="">
                                                                <span>Ecos Del Pasado</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="">
                                                    <a target="" href="http://escolar.abc.com.py/">Aula Digital</a>
                                                </li>
                                                <li class="">
                                                    <a target="" href="https://abcmarket.com.py">ABC Market</a>
                                                </li>
                                                <li class="">
                                                    <a target="" href="/especiales">Especiales</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-services">
                                    <div class="widget-megamenu weather-extended">
                                        <div class="widget-inner">
                                            <div class="widget-heading clearfix">
                                                <div class="col-left">
                                                    <div class="weather-icon despejado"></div>
                                                    <div class="degree-amount">20º</div>
                                                    <div class="status">Ahora</div>
                                                </div>
                                                <div class="col-right">
                                                    <div class="logo-sponsor">
                                                        <div>
                                                            <script>
                                                                window.googletag = window.googletag || {
                                                                    cmd: []
                                                                };
                                                                googletag.cmd.push(function() {
                                                                    googletag.defineSlot('/54577773/abc_menu/clima_menu_extendido', [[100, 35], [140, 50]], 'div-gpt-ad-1563317406566-0').addService(googletag.pubads());
                                                                    googletag.enableServices();
                                                                });
                                                            </script>
                                                        </div>
                                                        <div id="div-gpt-ad-1563317406566-0"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content">
                                                <div class="weather-forecast-list clearfix">
                                                    <div class="item-weather">
                                                        <div class="day">HOY</div>
                                                        <div class="weather-icon despejado"></div>
                                                        <div class="forecast clearfix">
                                                            <div class="col-min">
                                                                <div class="tag">Min</div>
                                                                <div class="degree">15º</div>
                                                            </div>
                                                            <div class="col-max">
                                                                <div class="tag">Máx</div>
                                                                <div class="degree">21º</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-weather">
                                                        <div class="day">JUE 4</div>
                                                        <div class="weather-icon precipitaciones-ocnl"></div>
                                                        <div class="forecast clearfix">
                                                            <div class="col-min">
                                                                <div class="tag">Min</div>
                                                                <div class="degree">14º</div>
                                                            </div>
                                                            <div class="col-max">
                                                                <div class="tag">Máx</div>
                                                                <div class="degree">18º</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-weather">
                                                        <div class="day">VIE 5</div>
                                                        <div class="weather-icon precipitaciones-ocnl"></div>
                                                        <div class="forecast clearfix">
                                                            <div class="col-min">
                                                                <div class="tag">Min</div>
                                                                <div class="degree">10º</div>
                                                            </div>
                                                            <div class="col-max">
                                                                <div class="tag">Máx</div>
                                                                <div class="degree">15º</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-weather">
                                                        <div class="day">SÁB 6</div>
                                                        <div class="weather-icon despejado"></div>
                                                        <div class="forecast clearfix">
                                                            <div class="col-min">
                                                                <div class="tag">Min</div>
                                                                <div class="degree">8º</div>
                                                            </div>
                                                            <div class="col-max">
                                                                <div class="tag">Máx</div>
                                                                <div class="degree">20º</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-weather">
                                                        <div class="day">DOM 7</div>
                                                        <div class="weather-icon parcial-nublado-trueno"></div>
                                                        <div class="forecast clearfix">
                                                            <div class="col-min">
                                                                <div class="tag">Min</div>
                                                                <div class="degree">11º</div>
                                                            </div>
                                                            <div class="col-max">
                                                                <div class="tag">Máx</div>
                                                                <div class="degree">21º</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-weather">
                                                        <div class="day">LUN 8</div>
                                                        <div class="weather-icon inestable-lluvias"></div>
                                                        <div class="forecast clearfix">
                                                            <div class="col-min">
                                                                <div class="tag">Min</div>
                                                                <div class="degree">15º</div>
                                                            </div>
                                                            <div class="col-max">
                                                                <div class="tag">Máx</div>
                                                                <div class="degree">22º</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-megamenu exchange-extended">
                                        <div class="widget-inner">
                                            <div class="widget-heading clearfix">
                                                <div class="col-left">
                                                    <div class="widget-title">Cotizaciones del día</div>
                                                </div>
                                                <div class="col-right">
                                                    <div class="logo-sponsor">
                                                        <div>
                                                            <script>
                                                                window.googletag = window.googletag || {
                                                                    cmd: []
                                                                };
                                                                googletag.cmd.push(function() {
                                                                    googletag.defineSlot('/54577773/abc_menu/cotizacion_menu_extendido', [[100, 35], [140, 50]], 'div-gpt-ad-1563317784501-0').addService(googletag.pubads());
                                                                    googletag.enableServices();
                                                                });
                                                            </script>
                                                        </div>
                                                        <div id="div-gpt-ad-1563317784501-0"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content">
                                                <div class="currency-exchange-list clearfix">
                                                    <div class="item-currency">
                                                        <div class="currency-name">
                                                            DOLAR <i class="icon-currency dolar"></i>
                                                        </div>
                                                        <div class="exchange clearfix">
                                                            <div class="col-min">
                                                                <div class="tag">Compra</div>
                                                                <div class="amount">6.440</div>
                                                            </div>
                                                            <div class="col-max">
                                                                <div class="tag">Venta</div>
                                                                <div class="amount">6.710</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-currency">
                                                        <div class="currency-name">
                                                            PESO <i class="icon-currency pesoar"></i>
                                                        </div>
                                                        <div class="exchange clearfix">
                                                            <div class="col-min">
                                                                <div class="tag">Compra</div>
                                                                <div class="amount">20</div>
                                                            </div>
                                                            <div class="col-max">
                                                                <div class="tag">Venta</div>
                                                                <div class="amount">60</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-currency">
                                                        <div class="currency-name">
                                                            REAL <i class="icon-currency real"></i>
                                                        </div>
                                                        <div class="exchange clearfix">
                                                            <div class="col-min">
                                                                <div class="tag">Compra</div>
                                                                <div class="amount">900</div>
                                                            </div>
                                                            <div class="col-max">
                                                                <div class="tag">Venta</div>
                                                                <div class="amount">1.180</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-currency">
                                                        <div class="currency-name">
                                                            EURO <i class="icon-currency euro"></i>
                                                        </div>
                                                        <div class="exchange clearfix">
                                                            <div class="col-min">
                                                                <div class="tag">Compra</div>
                                                                <div class="amount">6.100</div>
                                                            </div>
                                                            <div class="col-max">
                                                                <div class="tag">Venta</div>
                                                                <div class="amount">7.600</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                    <div class="item-currency">
                                                        <div class="currency-name">
                                                            PESO URUGUAYO <i class="icon-currency pesour"></i>
                                                        </div>
                                                        <div class="exchange clearfix">
                                                            <div class="col-min">
                                                                <div class="tag">Compra</div>
                                                                <div class="amount">100</div>
                                                            </div>
                                                            <div class="col-max">
                                                                <div class="tag">Venta</div>
                                                                <div class="amount">240</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="header-placeholder visible"></div>
      
			</html>