
{% extends 'inicio/index.html' %}
{% load static %}
{% block title %} Manual de Citas Biblograficas | Dpto Extension e Investigacion {% endblock %}
{% block head %}

{% endblock %}
{% block body %} 
<div class="bienestar">
   
	
    <div class="container">
        <div class="azen-categories-list" data-cloneable=""><!-- ngRepeat: d in datos --> 
            <p>
                <span ng-repeat="d in datos" class="ng-scope">
                    <h3 >Documento</h3>
                    <br><span>Manual de Citas Biblograficas </span><br>
                   <button class="colorconvenio" > <a href="https://drive.google.com/uc?export=download&amp;confirm=no_antivirus&amp;id=1xIPgbuvR6xk6Qrk1LbX9joU1STZtEZ9p" >Descargar</a></button> 
                </span>
            </p>
        </div>
    </div>

</div>

{% endblock %}

